<title>Admin panel</title>
<section class="admin-page">
    <div class="rap container">
        <divc class="menu mt-2 p-2">
            <a href="/admin/new-video">Upload Video</a>
            <a href="">All Videos</a>
            <a href="">All Users</a>
    </div>
    </div>
    <div class="info">
        <div class="data-div bg-secondary">
            <h4>Total views</h4>
            <span>4000000</span>
        </div>
        <div class="data-div bg-success">
            <h4>Total Videos</h4>
            <span>100</span>
        </div>
        <div class="data-div bg-info">
            <h4>Total Users</h4>
            <span>1028</span>
        </div>
    </div>
</section>