<title>Admin panel</title>
<section class="admin-page sections">
    <div class="rap">
        <div class="admin-menu">
            <a title="new video" href="/" class="mt-2 text-danger"><i class="bi bi-arrow-left"></i> <span>Back</span></a>
            <a title="new video" href="/admin/new-video" class="mt-2"><i class="bi bi-film"></i> <span>New Video</span></a>
            <a title="all users" href="/admin/all-users" class="mt-3"><i class="bi bi-people-fill"></i> <span>All Users</span></a>
            <a title="all videos" href="/admin/all-videos" class="mt-3"><i class="bi bi-camera-reels-fill"></i> <span>All Videos</span></a>
        </div>
        <div class="admin-panel">
            <div class="container">
                <div>
                    <h5>Videos</h5>
                    <span><%= videoleng %></span>
                </div>
                <div>
                    <h5>Users</h5>
                    <span><%= usersleng %></span>
                </div>
                <div>
                    <h5>Likes</h5>
                    <span><%= likesleng %></span>
                </div>
            </div>
        </div>
    </div>
</section>