<title>Admin panel</title>
<section class="admin-page">
    <div class="rap">
        <div class="admin-menu">
            <a title="new video" href="/admin/new-video" class="mt-2"><i class="bi bi-film"></i> <span>New Video</span></a>
            <a title="all users" href="" class="mt-3"><i class="bi bi-people-fill"></i> <span>All Videos</span></a>
            <a title="all videos" href="/admin/all-videos" class="mt-3"><i class="bi bi-camera-reels-fill"></i> <span>All Videos</span></a>
        </div>
        <div class="admin-panel">
            panel...!
        </div>
    </div>
</section>