<section class="footer">
    <footer>
        <div class="web-name container">
            <h1>Steamer</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repellendus ut iste. Expedita neque quis nobis molestiae</p>
        </div>
        <div class="media-icons">
            <h4>Social Media</h4>
            <div>
                <a href="">
                    <i class="bi bi-youtube"></i> 
                    YOUTUBE
                </a>
                <a href="">
                    <i class="bi bi-instagram"></i> 
                    INSTAGRAM
                </a>
                <a href="">
                    <i class="bi bi-whatsapp"></i> 
                    WHATSAPP
                </a>
                <a href="">
                    <i class="bi bi-discord"></i> 
                    DISCORD
                </a>
            </div>
        </div>
        <div class="imp-likes">
            <h4>Important Links</h4>
            <div>
                <a href="/">
                    <i class="bi bi-house-door-fill"></i> 
                    Home
                </a>
                <a href="/anime">
                    <i class="bi bi-record-circle"></i> 
                    Anime
                </a>
                <a href="/movie">
                    <i class="bi bi-film"></i> 
                    Movie
                </a>
                <a href="">
                    <i class="bi bi-envelope"></i> 
                    Contact  
                </a>
            </div>
        </div>
    </footer>
    <div class="text-center cfooter">
        <span>Dev by <a href="https://github.com/abijithdel">@abijithdel</a></span>
    </div>
</section>