body {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 19, 43);
    color: rgb(224, 224, 224);
}


.cursor-pointer{
    cursor: pointer;
}

/* header */

.header-container .rap {
    display: flex;
    width: 100%;
    height: 10vh;
    flex-direction: column;
}

.header-container .rap .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-container .rap .header .title h1{
    font-size: 32px;
    color: rgb(78, 89, 143);
    cursor: pointer;
}

.header-container .rap .header .title h1::first-letter{
    font-size: 40px;
    color: rgb(96, 107, 160);
}

.header-container .rap .header .search-container form input{
    height: 40px;
    width: 359px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(54, 63, 110);
    color: rgb(224, 224, 224);
    border-radius: 10px;
    padding-left: 10px;
    margin: 0;
}

.header-container .rap .header .search-container form input::placeholder{
    color: rgb(68, 79, 129);
}

.header-container .rap .header .search-container form button{
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: 1px solid rgb(54, 63, 110);
    color: rgb(68, 79, 129);
    border-radius: 10px;
    margin: 0;
}

.header-container .rap .header .auth img{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    border: 2px solid rgb(54, 63, 110);
    margin-right: 20px;
    cursor: pointer;
}

.header-container .rap .header .auth a{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(100, 111, 163);
    padding: 10px;
    font-weight: 500;
}

.header-container .rap .header .auth a:hover{
    background-color: rgb(45, 53, 92);
    border-radius: 10px;
    color: rgb(29, 36, 68);
}

.header-container .rap .header .auth .drop-menu{
    position: absolute;
    right: 30px;
    background-color: rgb(45, 53, 92);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.header-container .rap .header .auth .drop-menu .drop-icon a{
    background-color: transparent;
}

.header-container .rap .header .nav-icon img{
    height: 30px;
    display: none;
}

.header-container .rap .header .nav-icon{
    display: none;
    cursor: pointer;
    z-index: 9;
}

.header-menu{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    font-weight: 500;
}

@media only screen and (max-width: 700px){
    .header-container .rap .header .title h1{
        display: none;
    }

    .header-container .rap .header .auth{
        display: none;
    }

    .header-container .rap .header{
        justify-content: end;
    }

    .header-container .rap .header .search-container {
        display: none;
    }

    .header-container .rap .header .search-container form button{
        display: none;
    }
    
    .header-container .rap .header .search-container form input{
        width: 100%;
    }

    .header-container .rap .header .nav-icon{
        display: block;
        justify-content: end;
    }

    .header-container .rap .header .nav-icon img{
        display: block;
        justify-content: end;
    }
}

/* home page */                                  

.home-page .rap{
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: row;
}

.home-page .rap .menu-div{
    width: 20%;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.home-page .rap .menu-div .menu-icon{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid white;
}

.home-page .rap .menu-div .menu-icon a{
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.home-page .rap .menu-div .menu-icon a:hover{
    background-color: rgb(45, 53, 92);
    border-radius: 7px;
}

.home-page .rap .menu-div .history-div .history img{
    height: 30px;
    width: 60px;
    border-radius: 6px;
}

.home-page .rap .menu-div .history-div .history{
    cursor: pointer;
}

.home-page .rap .menu-div .mob-icons {
    display: none;
}

.home-page .rap .main-div{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.home-page .rap .main-div .video {
    margin-left: 10px;
    height: auto;
    width: 330px;
    border-radius: 9px;
}



.home-page .rap .main-div .video img{
    height: 169px;
    width: 300px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.63);
}

.home-page .rap .main-div .video img:hover{
    border-radius: 0;
}

.home-page .rap .main-div .video .info p{
    margin: 0;
    font-size: 23px;
}

.home-page .rap .main-div .video a{
    text-decoration: none;
    color: rgb(240, 232, 232);
}

.home-page .rap .main-div .video .info{
    width: 100%;
}

.home-page .rap .main-div .video .info span{
    color: gray;
}


@media only screen and (max-width: 700px) {
    .home-page .rap .menu-div{
        display: none;
    }

    .home-page .rap .menu-div .history-div{ 
        display: none;
    }

    .home-page .rap .main-div .video {
        width: 100%;
    }

    .home-page .rap .main-div{
        width: 100%;
    }

    .home-page .rap .main-div .video img{
        width: 100%;
        height: 200px;
    }

    .home-page .rap{
        width: 100%;
    }

    .home-page .rap .menu-div .mob-icons {
        display: block;
    }
}

/* signin-page */

.signin-page {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-page .rap{
    padding: 20px;
    background-color: rgb(45, 53, 92);
    width: auto;
    height: auto;
    border-radius: 10px;
}

.signin-page .rap h2{
    text-align: center;
    margin-bottom: 20px;
}

.signin-page .rap .social-auth{
    text-align: center;
}

.signin-page .rap .social-auth .icon{
    padding: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
}

.signin-page .rap .social-auth .icon a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.signin-page .rap .input-div {
    margin-top: 20px;
    border-top: 1px solid rgb(255, 255, 255);
}

.signin-page .rap .input-div form input{
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
}

.signin-page .rap .input-div form label{
    margin-top: 10px;
    font-weight: 500;
}

.signin-page .rap .input-div form a{
    margin-top: 20px;
    color: white;
}

.signin-page .rap .input-div form button{
    height: 40px;
    width: 100px;
    border-radius: 2px;
    margin-top: 10px;
    border: none;
    font-weight: 500;
}

/* signup-page */

.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.signup-page .rap{
    padding: 20px;
    background-color: rgb(45, 53, 92);
    height: auto;
    width: auto;
    border-radius: 10px;
}

.signup-page .rap h2{
    text-align: center;
    margin-bottom: 20px;
}

.signup-page .rap .social-auth .icon{
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 2px;
}

.signup-page .rap .social-auth .icon a{
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.signup-page .rap .input-div{
    margin-top: 20px;
    border-top: 1px solid white;
}

.signup-page .rap .input-div form input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
}

.signup-page .rap .input-div form label{
    font-weight: 500;
    margin-top: 10px;
}

.signup-page .rap .input-div form a{
    margin-top: 10px;
    color: white;
}

.signup-page .rap .input-div form button{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
}


/* admin-page */

.admin-page {
    height: 90vh;
    width: 100%;
}

.admin-page .rap {
    width: 100%;
    height: 100%;
    display: flex;
}

.admin-page .rap .admin-menu{
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.admin-page .rap .admin-menu a{
    padding: 10px;
    width: 100%;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.admin-page .rap .admin-menu a:hover{
    background-color: rgb(45, 53, 92);
    border-radius: 9px;
}

.admin-page .rap .admin-panel{
    width: 80%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    .admin-page .rap .admin-menu a span{
        display: none;
    }
}

/* new-video-page */

.new-video-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.new-video-page .rap form{
    padding: 20px;
    background-color: rgb(45, 53, 92);
    border-radius: 10px;
}

.new-video-page .rap form input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.new-video-page .rap form label{
    font-weight: 500;
}

.new-video-page .rap form button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
}

/* video-pag */

.video-page .video-div{
    display: flex;
}

.video-page .video-div .video{
    height: 90vh;
    width: 70%;
}

.video-page .video-div .suggestions{
    height: 90vh;
    width: 30%;
}

.video-page .video-div .video video{
    width: 100%;
    border: 10px;
    border-radius: 10px;
}

.video-page .video-div .video .info button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    margin-right: 30px;
}

.video-page .video-div .video .info span{
    color: grey;
}

.video-page .video-div .suggestions{
    display: flex;
    flex-direction: column;

}

.video-page .video-div .suggestions .video {
    width: 100%;
}

.video-page .video-div .suggestions .video a{
    text-decoration: none;
    color: white;
}

.video-page .video-div .suggestions .video a img{
    width: 100%;
    border-radius: 10px;
}

.video-page .video-div .suggestions .video a span{
    color: gray;
}

@media only screen and (max-width: 700px) {
    .video-page .video-div {
        flex-direction: column;
    }

    .video-page .video-div .video {
        width: 100%;
        height: auto;
    }

    .video-page .video-div .suggestions {
        width: 100%;
    }
}

/* delete-video-page */

.delete-video-page {
    height: 90vh;
    width: 100%;
}

.delete-video-page .rap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.delete-video-page .rap .video {
    height: 100%;
    width: 100%;
}

.delete-video-page .rap .video a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.delete-video-page .rap .video a img{
    width: 40%;
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
    .delete-video-page .rap .video a img{
        width: 90%;
        border-radius: 10px;
    }
}

/* account-page */

.account-page {
    height: 90vh;
    width: 100%;
}

.account-page .rap{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.account-page .rap .ac-menu{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.account-page .rap .ac-menu a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}

.account-page .rap .ac-menu a:hover{
    background-color: rgb(45, 53, 92);
    border-radius: 10px;
}

.account-page .rap .ac-main{
    width: 80%;
    height: 100%;
}

.account-page .rap .ac-main .info{
    display: flex;
    justify-content: space-around;
}

.account-page .rap .info div{
    height: auto;
    width: 30%;
    background-color: azure;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.account-page .rap .info div span{
    font-weight: 500;
    font-size: 20px;
}

@media only screen and (max-width: 700px) {
    .account-page .rap .ac-menu a span{
        display: none;
    }

    .account-page .rap .ac-main {
        padding: 20px;
    }

    .account-page .rap .ac-main .info {
        flex-direction: column;
    }

    .account-page .rap .ac-main .info div{
        width: 100%;
        margin-top: 10px;
    }
}

/* history-page */

.history-page {
    height: 90vh;
    width: 100%;
}

.history-page .rap {
    height: 100%;
    width: 100%;
}

.history-page .rap .videos {
    display: flex;
    flex-wrap: wrap;

}

.history-page .rap .videos a {
    text-decoration: none;
    color: white;
    width: 30%;
    margin-left: 10px;
    height: auto;
}


.history-page .rap .videos a img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.history-page .rap .videos a div span{
    color: gray;
}

.history-page .rap .videos a div p {
    color: rgb(88, 83, 83);
    font-size: 15px;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .history-page .rap .videos a {
        width: 100%;
    }
}

/* likes-page */

.likes-page {
    height: 90vh;
    width: 100%;
}

.likes-page .rap{
    width: 100%;
    height: 100%;
}

.likes-page .rap .videos{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
}

.likes-page .rap .videos a {
    width: 30%;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    margin-bottom: 10px;
}

.likes-page .rap .videos a img{
    width: 100%;
    border-radius: 10px;
}

.likes-page .rap .videos a div {
    color: gray;
}

.likes-page .rap .videos a div p{
    font-size: 15px;
    color: rgb(104, 98, 98);
}

@media only screen and (max-width: 700px) {
    .likes-page .rap .videos a{
        width: 100%;
    }
}