<title>
    <%= user.email %>
</title>
<section class="account-page sections">
    <div class="rap">
        <div class="ac-menu">
            <a href="/" class="mt-1" title="Back button"><i class="bi bi-arrow-left"></i> <span>Back</span></a>
            <a href="" class="mt-2" title="History"><i class="bi bi-calendar3"></i> <span>History</span></a>
            <a href="" class="mt-2" title="Likes"><i class="bi bi-hand-thumbs-up-fill"></i> <span>Likes</span></a>
            <a href="" class="mt-2" title="Edit Profile"><i class="bi bi-pen"></i> <span>Edit Profile</span></a>
        </div>
        <div class="ac-main">
            <div class="info mt-5">
                <div class="bg-success">
                    <h3>History Vid</h3>
                    <span><%= historyCount %></span>
                </div>
                <div class="bg-danger">
                    <h3>Likes</h3>
                    <span><%= likeCount %></span>
                </div>
                <div class="bg-info">
                    <h3>Playlist</h3>
                    <span><%= playlistCount %></span>
                </div>
            </div>
        </div>
    </div>
</section>