<title>Home</title>
<section class="home-page">
    <div class="rap">
        <div class="main-rap">
            <div class="menu-container"></div>
            <div class="main-container"></div>
        </div>
    </div>
</section>